CompiledExe/for_redistribution_file_only/readme.txt
CompiledExe/for_redistribution_file_only/default_icon.ico
CompiledExe/PackagingLog.txt
CompiledExe/for_redistribution/MyAppInstaller_mcr.exe
CompiledExe/for_redistribution/MyAppInstaller_web.exe
CompiledExe/for_redistribution_file_only/AUTOEPIDPLUS_V2.exe
CompiledExe/for_redistribution_file_only/splash.png
CompiledExe/for_testing/AUTOEPIDPLUS_V2.exe
CompiledExe/for_testing/mccExcludedFiles.log
CompiledExe/for_testing/readme.txt
CompiledExe/for_testing/requiredMCRProducts.txt
CompiledExe/for_testing/splash.png
manualmatching/AUTOEPIDPLUS_V2.prj
manualmatching/AUTOEPIDPLUS_V2/PackagingLog.txt
manualmatching/AUTOEPIDPLUS_V2/for_redistribution/MyAppInstaller_mcr.exe

CompiledExe/

manualmatching/AUTOEPIDPLUS_V2/

*.asv

*.txt
*.HIS

